<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front center">
              <h1>PDF</h1>
            </div>
            <div class="flip-card-back center">
              <ul>
                <li (click)="openPdf()">pdf 1</li>
                <li (click)="openPdf()">pdf 2</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front center">
              <h1>DWG</h1>
            </div>
            <div class="flip-card-back center">
              <ul>
                <li>dwg 1</li>
                <li>dwg 2</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front center">
              <h1>Revit</h1>
            </div>
            <div class="flip-card-back center">
              <ul>
                <li >revit 1</li>
                <li >revit 2</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>